<div class="container">
    <div class="side-bar card">
        <table>
            <tr>
                <td class="table-label">
                    Hull Width
                </td>
                <td class="table-input">
                    <input type="range" min="1" max="100" value="50" class="slider" id="hull-width-slider" />
                </td>
                <td class="table-number">
                    <div id="hull-width-slider-value">
                        50
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="canvas" class="canvas card" />
</div>
