<!doctype html>
<html>
    <body>
        <main>
        <p> This is just some fucking text to see if the fucking thing will print </p>
            <div class="blueprint-container">
                <figures>
                    <figure class="quadratic"><script type="text/beziercode">
                        new Bezier(150,40 , 100,30 , 105,150);
                        var draw = function() {
                            drawSkeleton(curve);
                            drawCurve(curve);
                        }
                        </script></figure>

                    <figure class="cubic"><script type="text/beziercode">
                        new Bezier(100,25 , 10,90 , 110,100 , 150,195);
                        var draw = function() {
                            drawSkeleton(curve);
                            drawCurve(curve);
                        }
                    </script></figure>
                </figures>
            </div>
        </main>
        <script src="./bezier.js"></script>
        <script src="js/draw.js"></script>
       <!-- <script src="js/interaction.js"></script>-->
        <script src="js/loader.js"></script>
    </body>
</html>
