{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "uglyfy": true,
        "forceAllTransforms": true,
        "minify": true
      }
    }]
  ]
}
