.slider-container {
  margin: 8px;
  width: 100%;
}

.slider-label {
  width: 100%;
  margin-bottom: 8px;
}
.slider-number-input {
  width: 60px;
}

.slider-slide-input {
  width: 220px;
  vertical-align: middle;
}

.slider-label-sml {
  width: 50px;
}

.slider-slide-input-sml {
  width: auto;
  vertical-align: middle;
}

.curve-slider {
  padding-left: 15px;
}
