.slider-container {
  margin: 8px;
  width: 100%;
}

.slider-label {
  width: 100%;
  margin-bottom: 8px;
}
.slider-number-input {
  width: 30px;
}

.slider-slide-input {
  width: 80%;
  vertical-align: middle;
}
