<div class="slider-container">
  <div id="single-slider" class="hidden">

    <!-- Single slider -->
    <div ng-if="type=='singleSlider'">
      <div class="slider-label">{{title}}</div>
      <br />
      <input type="number" class="slider-number-input" /> in.
      <input type="range" class="slider-slide-input" />
    </div>

    <!-- Curve slider -->
    <div ng-if="type=='curveSlider'">
      
      <i class="fa fa-angle-right carrot-icon" ng-click="openMenu()" id="{{selector}}-icon"/>
      <div class="slider-label">{{title}}</div>
      
      <div class="curve-slider curve-slider-hidden" id="{{selector}}">
        <table>
          <tbody>
            <tr>
              <td>
                X1
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x1" class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x1" class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Y1
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y1"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y1"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Z1
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z1"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z1"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                X1C
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x1c"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x1c"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Y1C
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y1c"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y1c"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Z1C
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z1c"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z1c"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                X2
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x2"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x2"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Y2
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y2"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y2"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Z2
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z2"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z2"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                X2C
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x2c"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.x2c"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Y2C
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y2c"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.y2c"  class="slider-slide-input-sml" />
              </td>
            </tr>
            <tr>
              <td>
                Z2C
              </td>
              <td>
                <input type="number" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z2c"  class="slider-number-input" /> in.
              </td>
              <td>
                <input type="range" min="0" max="100" ng-change="valueChange()" ng-model="coordinates.z2c"  class="slider-slide-input-sml" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
