<!-- <slidercomponent title="Hull Width" type="#single-slider"></slidercomponent> -->


<div class="controls-heading">
  <h2>Controls</h2>
</div>
<hr />

<h3 class="controls-section-heading"> Base controls </h3>
<div class="controls-input">
  <slidercomponent data="{title: 'Hull Width', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Hull Height', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Hull Length', type:'#single-slider'}"></slidercomponent>
</div>
<hr />

<h3 class="controls-section-heading"> Frames </h3>
<div class="controls-input">
  <slidercomponent data="{title: 'Number of Frames', type:'#single-slider'}"></slidercomponent>
  <h4>Distance from back</h4>
  <slidercomponent data="{title: 'Frame 1', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Frame 2', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Frame 3', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Frame 4', type:'#single-slider'}"></slidercomponent>
</div>
<hr />

<h3 class="controls-section-heading"> Aft Controls </h3>
<div class="controls-input">
  <slidercomponent data="{title: 'Beam Curve', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Chine Curve', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Keel Curve', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Beam-Chine Curve', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Chine-Keel Curve', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Stern Curve', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Stern-Keel Curve', type:'#single-slider'}"></slidercomponent>
</div>
<hr />


<h3 class="controls-section-heading"> Fore Controls </h3>
<div class="controls-input">
  <slidercomponent data="{title: 'Aft Beam', type:'#single-slider'}"></slidercomponent>
  <slidercomponent data="{title: 'Fore Beam', type:'#single-slider'}"></slidercomponent>
</div>
