<div class="controls-heading">
    <h2>Controls</h2>
</div>
<hr />
<div class="controls-section">
    <h3 class="controls-section-heading"> Base controls </h3>

    <div class="controls-group">
        <div for="width-control" class="controls-label">Width</div>
        <input aria-label="width-control" type="number" class="controls-number-input" ng-model="data.width" ng-change="changeValue('width')" /> in.
        <input aria-label="width-control-range" type="range" class="controls-slide-input" ng-model="data.width" ng-change="changeValue('width')" />
    </div>
    <div class="controls-group">
        <div for="length-control" class="controls-label">Length</div>
        <input aria-label="length-control" type="number" class="controls-number-input" ng-model="data.length" ng-change="changeValue('length')" /> in.
        <input aria-label="length-control-range" type="range" class="controls-slide-input" ng-model="data.length" ng-change="changeValue('length')" />
    </div>
    <div class="controls-group">
        <div for="height-control" class="controls-label">Height</div>
        <input aria-label="height-control" type="number" class="controls-number-input" ng-model="data.height" ng-change="changeValue('height')" /> in.
        <input aria-label="height-control-range" type="range" class="controls-slide-input" ng-model="data.height" ng-change="changeValue('height')" />
    </div>
</div>

<hr />

<div class="controls-section">
    <h3 class="controls-section-heading"> Frames </h3>
    <div class="controls-group">
        <div class="controls-group">
            <label class="controls-label">Number of Frames</label>
            <input aria-label="frame-count" type="number" class="controls-number-input" ng-model="frameCount" ng-change="changeValue('frameCount')" />
            <input aria-label="frame-count-range" type="range" min="0" max="15" class="controls-slide-input" ng-model="frameCount" ng-change="changeValue('frameCount')" />
        </div>
        <h4>Distance from back</h4>
        <div ng-repeat="frame in data.frames">
            <div class="controls-group">
                <div class="controls-label">frame</div>
                <input aria-label="frame-distance-{{$index}}" type="number" class="controls-number-input" ng-model="frame.distanceFromBack" ng-change="changeValue('$index-distanceFromBack')" /> in.
                <input aria-label="frame-distance-range-{{$index}}" type="range" class="controls-slide-input" ng-model="frame.distanceFromBack" ng-change="changeValue('$index-distanceFromBack')" />
            </div>
        </div>
    </div>
</div>

<hr />

<div class="controls-section">
    <div class="controls-input">
        <div ng-repeat="(key, value) in data">
            <div ng-if="key != 'width' && key != 'height' && key != 'length' && value.controlable == true">
                <div class="controls-label">
                    <i class="down" ng-click="openMenu(key)" id="{{key}}-menu-icon" /> {{key}}
                </div>

                <div class="controls-group" id="{{key}}-menu">
                    <table ng-mouseover="hover(key)" ng-mouseleave="unhover(key)">
                        <thead>
                            <tr>
                                <td>
                                    Position
                                </td>
                                <td>
                                    x
                                </td>
                                <td>
                                    y
                                </td>
                                <td>
                                    z
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Start
                                </td>
                                <td>
                                    <input aria-label="{{key}}-start-x" type="number" class="controls-number-input" ng-model="value.start[0]" ng-change="changeValue('{{key}}-start-x')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-x"/>
                                </td>
                                <td>
                                    <input aria-label="{{key}}-start-y" type="number" class="controls-number-input" ng-model="value.start[1]" ng-change="changeValue('{{key}}-start-y')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-y" />
                                </td>
                                <td>
                                    <input aria-label="{{key}}-start-z" type="number" class="controls-number-input" ng-model="value.start[2]" ng-change="changeValue('{{key}}-start-z')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-z"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Control
                                </td>
                                <td>
                                    <input aria-label="{{key}}-start-control-x" type="number" class="controls-number-input" ng-model="value.startControl[0]" ng-change="changeValue('{{key}}-startControl-x')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-x"/>
                                </td>
                                <td>
                                    <input aria-label="{{key}}-start-control-y" type="number" class="controls-number-input" ng-model="value.startControl[1]" ng-change="changeValue('{{key}}-startControl-y')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-y"/>
                                </td>
                                <td>
                                    <input aria-label="{{key}}-start-control-z" type="number" class="controls-number-input" ng-model="value.startControl[2]" ng-change="changeValue('{{key}}-startControl-z')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-z"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    End
                                </td>
                                <td>
                                    <input aria-label="{{key}}-end-x" type="number" class="controls-number-input" ng-model="value.end[0]" ng-change="changeValue('{{key}}-end-x')"  ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-x"/>
                                </td>
                                <td>
                                    <input aria-label="{{key}}-end-y" type="number" class="controls-number-input" ng-model="value.end[1]" ng-change="changeValue('{{key}}-end-y')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-y" />
                                </td>
                                <td>
                                    <input aria-label="{{key}}-end-z" type="number" class="controls-number-input" ng-model="value.end[2]" ng-change="changeValue('{{key}}-end-z')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-z" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Control
                                </td>
                                <td>
                                    <input aria-label="{{key}}-end-control-x" type="number" class="controls-number-input" ng-model="value.endControl[0]" ng-change="changeValue('{{key}}-endControl-x')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-x" />
                                </td>
                                <td>
                                    <input aria-label="{{key}}-end-control-y" type="number" class="controls-number-input" ng-model="value.endControl[1]" ng-change="changeValue('{{key}}-endControl-y')" ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-y"/>
                                </td>
                                <td>
                                    <input aria-label="{{key}}-end-control-z" type="number" class="controls-number-input" ng-model="value.endControl[2]" ng-change="changeValue('{{key}}-endControl-z')"  ng-mousedown="mDown($event)" ng-mousemove="mMove($event)" ng-mouseup="mUp($event)" id="{{key}}-start-z"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
