<div class="controls-heading">
    <h2>Controls</h2>
</div>
<hr />
<div class="controls-input">
    <div class="controls-section">
        <h3 class="controls-section-heading"> Base controls </h3>

        <div class="controls-group">
            <div class="slider-label">Width</div>
            <input type="number" class="slider-number-input" ng-model="data.width" ng-change="changeValue()" /> in.
            <input type="range" class="slider-slide-input" ng-model="data.width" ng-change="changeValue()" />
        </div>
        <div class="controls-group">
            <div class="slider-label">Length</div>
            <input type="number" class="slider-number-input" ng-model="data.length" /> in.
            <input type="range" class="slider-slide-input" ng-model="data.length" />
        </div>
        <div class="controls-group">
            <div class="slider-label">Height</div>
            <input type="number" class="slider-number-input" ng-model="data.height" /> in.
            <input type="range" class="slider-slide-input" ng-model="data.height" />
        </div>
    </div>

    <hr />

    <div class="controls-section">
        <h3 class="controls-section-heading"> Frames </h3>

        <div class="controls-group">
            <div class="controls-group">
                <div class="slider-label">Number of Frames</div>
                <input type="number" class="slider-number-input" ng-model="frameCount" />
                <input type="range" class="slider-slide-input" ng-model="frameCount" />
            </div>
            <h4>Distance from back</h4>
            <div ng-repeat="frame in data.frames">
                <div class="controls-group">
                    <div class="slider-label">frame</div>
                    <input type="number" class="slider-number-input" ng-model="frame.distanceFromBack" /> in.
                    <input type="range" class="slider-slide-input" ng-model="frame.distanceFromBack" />
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="controls-section">
        <h3 class="controls-section-heading"> Aft Controls </h3>

        <div class="controls-input">
            <div class="slider-label">
              <i class="fa fa-angle-right carrot-icon" ng-click="openMenu()" id="fore-beam-menu-icon"/>
              Beam
            </div>
            <div class="controls-group" id="fore-beam-menu">
                <table>
                    <thead>
                        <tr>
                            <td>
                                Position
                            </td>
                            <td>
                                x
                            </td>
                            <td>
                                y
                            </td>
                            <td>
                                z
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Start
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.start.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.start.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.start.z" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Control
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.startControl.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.startControl.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.startControl.z" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                End
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.z" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Control
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.endControl.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.z" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr />

    <div class="controls-section">
        <h3 class="controls-section-heading"> Fore Controls </h3>

        <div class="controls-input">
            <div class="controls-group">
                <table>
                    <thead>
                        <tr>
                            <td>
                                pos
                            </td>
                            <td>
                                x
                            </td>
                            <td>
                                y
                            </td>
                            <td>
                                z
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Start
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.start.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.start.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.start.z" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Control
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.startControl.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.startControl.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.startControl.z" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                End
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.end.z" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Control
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.endControl.x" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.endControl.y" />
                            </td>
                            <td>
                                <input type="number" class="slider-number-input" ng-model="data.fore.beam.endControl.z" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
