.controls-heading {
    margin: 8px 8px 24px;
}

.controls-input {
    padding: 8px;
}

.controls-section-heading {
    margin: 8px;
}

.controls-section-hidden {
    display: none;
}

.controls-icon-hidden {
  transform: rotate(-90deg);
}
