@import './../../constants';

.controls-heading {
    margin: 0 24px;
}

.controls-input {
    padding: 8px;
}

.controls-container {
    height: 1574px;
    overflow-y: auto;
    padding: 8px;
}

.controls-section-heading {
    margin: 8px;
}

.controls-section-hidden {
    display: none;
}

.controls-label {
    display: inline-block;
    margin-bottom: 8px;
    width: auto;
}

.controls-number-input {
    width: 60px;
}

.controls-slide-input {
    vertical-align: middle;
    width: 220px;
}

.curve-slider {
    padding-left: 15px;
    transition: 1s;
}

i {
    border: solid $black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: .2s;
}

.down {
    transform: rotate(45deg);
}

.controls-icon-hidden {
    transform: rotate(-45deg);
}





// colors
$primary: #F85F73;
$secondary: #FBE8D3;
$acc1: #283C63;
$acc2: #928A97;
// 



.mui-button {
  width:45%;
  background: white;;
  color: black;
  font-family: monospace;
  font-size: 12pt;
  height: 50px;
  margin-left: 2.5%;
  transition: .3s;
  border: none;
  
  &:hover {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    transform: scale(0.97);
    cursor: pointer;
  }
}
