<div class="container">
    <div id="canvas" class="canvas card" />
    <div class="menu-container" id="three-menu">
      <div class="wire-frame-toggle">
          <input type="checkbox" id="shaded-toggle" />
          <label for="shaded-toggle">Toggle Shaded</label>
      </div>
      <div class="wire-frame-toggle">
            <input type="checkbox" id="wire-frame-toggle" checked />
            <label for="wire-frame-toggle">Toggle wireframe</label>
        </div>
        <div class="vertex-toggle">
            <input type="checkbox" id="vertex-toggle" checked />
            <label for="vertex-toggle">Toggle verticies</label>
        </div>
    </div>
</div>
