@import './../../constants';

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    background-color: #cfcfcf;
}

.side-bar {
    color: $dark-grey;
    grid-column: 1 / 2;
}

table {
    padding: 5px;
    width: 100%;
}

input {
    width: 100%;
}

.table-label {
    width: 20%;
}

.table-input {
    width: 60%;
}

.table-number {
    width: 8%;
}

.canvas {
    grid-column: 2 / 2;
    height: 600px;
    width: 1000px;
}
