@import './../../constants';

.side-bar {
    color: $dark-grey;
    grid-column: 1 / 2;
}

table {
    padding: 5px;
    width: 100%;
}

.table-label {
    width: 20%;
}

.table-input {
    width: 60%;
}

.table-number {
    width: 8%;
}

.canvas {
    height: 600px;
    width: 100%;
}

.menu-container {
    display: inline-block;
    left: 56px;
    opacity: 0;
    position: absolute;
    top: 120px;
    transition: 1s;
    width: 100%;
}

.menu-container-active {
    opacity: 1;
}

.wire-frame-toggle {
    display: inline-block;
    height: 32px;
    width: 200px;
}

.vertex-toggle {
    display: inline-block;
    height: 32px;
    width: 200px;
}

.camera-controls {
    background: linear-gradient(to bottom, $light-grey, $grey);
    border-radius: 20px;
    box-shadow: inset 0 0 20px 0 $shadow-two;
    display: inline-block;
    height: 24px;
    margin-right: 7%;
    padding: 5px;
}

.camera-control {
    color: $dark-grey;
    cursor: pointer;
    display: inline-block;
    font: 18px 'monospace';
    font-weight: 500;
    margin-left: 20px;
    margin-right: 9px;
    text-shadow: 0 1px 1px $grey;
}

.camera-control-divider {
    background: linear-gradient(90deg, $grey 0, $black 50%, $grey 90%);
    display: inline-block;
    height: 34px;
    position: absolute;
    top: 0;
    width: 3px;
}
