@import './../../constants';

.side-bar {
    color: $dark-grey;
    grid-column: 1 / 2;
}

table {
    padding: 5px;
    width: 100%;
}

.table-label {
    width: 20%;
}

.table-input {
    width: 60%;
}

.table-number {
    width: 8%;
}

.canvas {
    height: 600px;
    width: 100%;
}

.menu-container {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 56px;
    transition: 1s;
    width: 100%;
}

.menu-container-active {
    opacity: 1;
}

.wire-frame-toggle {
    display: inline-block;
    height: 32px;
    width: 200px;
}

.vertex-toggle {
    display: inline-block;
    height: 32px;
    width: 200px;
}

.camera-controls {
  background: linear-gradient(to bottom, #747474, #404040);
  border-radius: 20px;
  padding: 5px;
  box-shadow: inset 0 0 20px 0 $shadow-two;
  display: inline-block;
  height: 24px;
  margin-right: 7%;
}

.camera-control  {
  text-shadow: 0px 1px 1px #9d9d9d;
	color: #222;
  cursor: pointer;
	font: 18px 'monospace';
  display: inline-block;
  font-weight: 500;
  margin-left: 20px;
  margin-right: 9px;
  
}

.camera-control-divider {
  background: linear-gradient(90deg,#424242 10%,#414141 0,#000 50%,#424242 90%);
  display: inline-block;
  height: 34px;
  width: 3px;
  position: absolute;
  top: 0px;
}
