@import './constants';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

html {
    font-family: monospace;
}

h1 {
    margin-left: 40px;
}

.nav-bar {
    background-color: $dark-grey;
    color: $white;
    display: inline-block;
    height: 64px;
    width: 100%;
}

.left {
    left: 0;
    position: absolute;
    right: 360px;
    top: 0;
    z-index: 0;
}

.right {
    background-color: $white;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 360px;
    z-index: 500;
}

.canvas-container {
    background-color: $grey;
    height: 100%;
    width: 100%;
}

.three-container {
    background: $light-grey;
    display: inline-block;
    width: 100%;
}

.extra-pad {
    background: $grey;
    padding: 40px;
}
