@import './constants';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

html {
    font-family: monospace;
}

.nav-bar {
    background-color: $dark-grey;
    color: $white;
    height: 64px;
    left: 0;
    padding-left: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.left {
    left: 0;
    position: absolute;
    right: 360px;
    top: 0;
    z-index: 0;
}

.right {
    background-color: $white;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 360px;
    z-index: 500;
}

.canvas-container {
    background-color: $grey;
    position: absolute;
    top: 64px;
    width: 100%;
}

.three-container {
    margin: 40px;
}
