@import './constants';

html {
  font-family: monospace;
}
.nav-bar {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #212121;
    color: white;
    padding-left: 24px;
}

.left {
  top: 0;
  left: 0;
  position: absolute;
  right: 360px;
  z-index: 0;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  background-color: white;
  z-index: 500;
}

.canvas-container {
  position: absolute;
  top: 64px;
  width: 100%;
  background-color: #666
}
.three-container {
  margin: 40px;
}
